#single_blog {
    padding: 100px 0 !important;
}

#single_blog .rightSingleBlog .inlineAdded ul, 
#single_blog .rightSingleBlog .inlineAdded ul li {
    padding-left: 0;
    padding-right: 0;
}

#single_blog .rightSingleBlog .inlineAdded ul {
    margin-top: 0;
}

.rightSingleBlog h1 {
    padding: 0;
    font-size: 40px;
    margin-bottom: 0;
}

.rightSingleBlog h1::after {
    display: none;
}

.border-shadow {
    border: 1px solid #eee;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 5px;
}

.blog_section {
    padding: 30px;
}

.br-5 {
    border-radius: 5px;
}

h2.blog_section_item,
.blog-faqs h3,
.action_tab h2 {
    margin: 0;
    font-size: 130%;
    font-weight: 600;
}

.blog_section_item p,
.blogDescriptions p,
.blog_grey_quote,
.blog_grey_quote p {
    font-size: 90%;
}

.blog_grey_quote {
    border-left: 5px solid;
}

.blog-sidebar .list-unstyled {
    padding: 15px;
}

.blog-sidebar .list-unstyled li:first-child {
    /* padding-top: 5px; */
    /* margin-top: 15px; */
    /* border-top: 1px solid #ddd; */
}

.blog-sidebar .list-unstyled li a {
    display: block;
    color: #000;
    font-size: 90%;
    padding: 7px 5px;
    font-weight: 600;
    /* margin-bottom: 10px; */
}

.blog-faqs .faq-item button {
    background: none;
    box-shadow: none;
    border: none;
    align-items: center;
}

.faq-item-title {
    font-size: 15px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

.faq-item-description {
    color: #000;
}

.blog_section_item {
    margin-top: 15px;
}

.faq-item {
    padding: 10px 15px;
    margin-bottom: 7px;
}

.faq-item-description,
.faq-item-description p {
    font-size: 15px;
}

.blog-sidebar .list-unstyled {
    background-color: #fff;
}

#blog-sidebar.fixed-sidebar {
  position: fixed;
  top: 100px;
  z-index: 9;
  width: 280px; /* or match original sidebar width */
}

.blog_breadcrumb {
    background-color: #f9fbfd;
}

.blog_breadcrumb .text_primary {
    color: #114c8d;
}

@media (max-width: 768px) {
    #single_blog {
        padding: 50px 0 !important;
    }

    .rightSingleBlog h1 {
        font-size: 24px;
    }

    h2.blog_section_item, .blog-faqs h3, .action_tab h2 {
        font-size: 110%;
    }

    .blog_section {
        padding: 20px;
    }
}